.year-dropdown button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
}

.year-dropdown ul {
    background-color: rgb(2, 2, 179);
    position: absolute;
    font-size: 14px;
    margin: 0;
    width: 300px;
    padding: 20px;
    z-index: 999;
    column-count: 3; 
    column-gap: 20px;
  }

  .year-dropdown li:hover{
    background-color: #fff;
    cursor: pointer;
    color:rgb(2, 2, 179) ;
    text-align: center;
    transition: 0.4s;
  }
  
  .year-dropdown button:hover{
    border: none;
  }

  .year-dropdown{
    margin-left: 30px;
  }
